.about-us {
    margin-bottom: 100px;
}

.about-us__info-block {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.about-us__desc {
    font: var(--item-desc-desktop);
    color: var(--black-color);
    margin: 0;
    margin-bottom: 50px;
    max-width: 1235px;
}

.article__desc {
    font-weight: 700;
    font-size: 16px;
    line-height: 200%;
    color: var(--white-color);
    margin: 0;
    margin-right: auto;
    max-width: 433px;
}

.left__article {
    background-image: url(../img/about-us-png.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 32px;
    display: flex;
    align-items: flex-end;
    max-width: 868px;
    width: 100%;
}

.article__content {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    width: 100%;
}

.article__img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 165px;
    width: 190px;
}

.article-img1 {
    background-image: url(../img/article-img1.svg);
}

.article-img2 {
    background-image: url(../img/article-img2.svg);
}

.content__title {
    font: var(--item-title-desktop);
    color: var(--black-color);
    margin: 0;
    margin-bottom: 8px;
}

.content__desc {
    font: var(--item-desc-desktop);
    color: var(--black-color);
    margin: 0;
    max-width: 450px;
}

.right__article {
    display: flex;
    padding: 65px 114px 65px 60px;
    gap: 50px;
    border: 1px solid var(--light-grey-color);
    border-radius: 32px;
}

.info-block__right {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 870px;
    width: 100%;
}

.main__container .about-us__title {
    margin-bottom: 20px;
    color: var(--black-color);
}

.main__container .article__btn {
    background-color: transparent;
    border: 3px solid var(--orange-color);
    font-size: 16px;
    padding: 19px 38px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.article__btn:hover {
    background-color: var(--orange-color);
}

.article__btn:focus {
    background-color: var(--orange-color);
}

.article__btn:active {
    background-color: var(--dark-orange-color);
    border-color: var(--dark-orange-color);
}