.footer {
    background-color: var(--black-color);
    padding: 50px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__form {
    max-width: 570px;
    width: 100%;
}

.footer__left {
    display: flex;
    flex-direction: column;
    max-width: 363px;
    width: 100%;
}

.footer__link {
    font: var(--headfoot-desc-desktop);
    color: var(--light-grey-color);
    line-height: 36px;
    transition: color 0.3s ease-in-out;
}

.footer__link:hover {
    color: var(--orange-color);
}

.footer__link:focus {
    color: var(--light-grey-color);
    outline: 2px solid var(--orange-color);
    outline-offset: 5px;
}

.footer__link:active {
    color: var(--dark-orange-color);
    outline: none;
}

.left__logo {
    margin-bottom: 20px;
}

.left__icons {
    margin-top: auto;
    display: flex;
    gap: 25px;
}

footer .form__title {
    color: transparent;
    color: var(--light-grey-color);
    margin-bottom: 25px;
}

.checkbox__text {
    font: var(--item-desc-desktop);
    color: var(--light-grey-color);
}

.form__input {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 32px;
}

.form__input input,
textarea {
    font: var(--item-desc-desktop);
    color: var(--light-grey-color);
    background-color: var(--dark-grey-color);
    border-radius: 16px;
    border: none;
    padding: 14px 24px;
}

.item__text {
    min-height: 150px;
    resize: none;
}

footer .bootom__fotter {
    font-size: 16px;
    padding: 19px 52px;
    text-align: center;
}

.footer__right {
    font: var(--item-desc-desktop);
    color: var(--light-grey-color);
    max-width: 363px;
    width: 100%;
    margin: 0;
    margin-top: 73px;
}

.bootom__checkbox {
    user-select: none;
    cursor: pointer;
}

.checkbox__custom {
    position: absolute;
    appearance: none;
}

.checkbox__text {
    position: relative;
    padding-left: 18px;
}

.checkbox__text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    border: 1px solid var(--light-grey-color);
    transform: translateY(-50%);
}

.checkbox__text::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
    background-image: url(../img/checkbox.svg);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.3s;
}

.checkbox__custom:checked+.checkbox__text::after {
    opacity: 1;
}

.form__bootom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons__footer {
    fill: var(--grey-color);
    transition: fill 0.3s ease-in-out;
    width: 60px;
    height: 60px;
}

.icons__footer:hover {
    fill: var(--orange-color);
}

.icons__footer:focus {
    fill: var(--grey-color);
    outline: 2px solid var(--orange-color);
    outline-offset: 5px;
}

.icons__footer:active {
    fill: var(--dark-orange-color);
    outline: none;
}

footer .bootom__fotter {
    font-size: 16px;
    padding: 19px 52px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.bootom__fotter:hover {
    background-color: var(--light-orange-color);
}

.bootom__fotter:focus {
    background-color: var(--light-orange-color);
}

.bootom__fotter:active {
    background-color: var(--dark-orange-color);
}

.form__input input,
textarea {
    transition: background-color 0.3s ease-in-out;
}

input:hover,
textarea:hover {
    background-color: var(--grey-color);
}

input:focus,
textarea:focus {
    background-color: var(--grey-color);
    outline: none;
}

input:active,
textarea:active {
    background-color: var(--grey-color);
    color: var(--white-color);
}

@media (max-width: 1440px) {
    .footer__right {
        display: none;
    }

    body .footer__container {
        padding: 0 50px;
    }

    .footer__left {
        max-width: 251px;
    }

    .footer__form {
        max-width: 541px;
    }

    .footer .bootom__fotter {
        padding: 19px 37px;
    }
}

@media (max-width: 880px) {
    .left__list {
        display: none;
    }

    .footer__container {
        flex-direction: column-reverse;
        gap: 50px;
    }
}

@media (max-width: 624px) {
    .form__bootom {
        flex-direction: column;
        gap: 11px;
        border-bottom: 1px solid var(--dark-grey-color);
        padding-bottom: 25px;
    }

    .footer__container {
        align-items: center;
        gap: 16px;

    }

    .footer__left {
        align-items: center;
    }
}

@media (max-width: 767px)  {
    body .footer__container {
        padding: 0 15px;
    }
}

@media (max-width: 430px) {
    .footer {
        padding: 30px 0;
    }

    .logo__img {
        width: 131px;
        height: 42px;
    }


    .icons__footer {
        width: 40px;
        height: 40px;
    }

    footer .form__title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form__input input,
    textarea{
        font-size: 14px;
    }

     .form__bootom .bootom__fotter {
        padding: 12px 19px;
        font-size: 12px;
    }
    
    .form__input {
        margin-bottom: 25px;
    }
}