header {
    padding: 14px 75px;
    border-radius: 0 0 32px 32px;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 50px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    gap: 85px;
    align-items: center;
}

.nav__link {
    font-weight: 600;
    font-size: 18px;
    color: #000;
}