.main__container .questions__title {
    margin-bottom: 32px;
}

.item__desc {
    margin: 0;
    font: var(--item-desc-desktop);
    color: var(--black-color);
}

.questions__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.list__item {
    padding:  65px 60px;
    border: 1px solid var(--light-grey-color);
    border-radius: 32px;
    width: 100%;
    max-width: 568px;
}

@media (max-width: 1280px) {
    .questions__list {
        flex-direction: column;
    }

    .list__item {
        min-width: 100%;
    }

    .list__item br {
        display: none;
    }

    .questions {
        margin-bottom: 80px;
    }
}

@media (max-width: 880px) {
    .list__item {
        padding: 35px 65px 35px 40px;
    }
}

@media (max-width: 430px) {
    .questions__title {
        font-size: 24px;
    }

    .list__item {
        border: none;
        padding: 0;
    }

    .item__desc {
    font-size: 14px;
    line-height: 28px;
    }

    .questions {
        margin-bottom: 60px;
    }
}