:root {
     --orange-color: #f90;
     --light-orange-color: #ffb84d;
     --dark-orange-color:  #e1670e;
     --green-color: #97ee3f;
     --white-color: #fff;
     --light-grey-color: #cacaca;
     --grey-color: #666;
     --dark-grey-color: #414141;
     --black-color: #000; 
}

.btn {
    border: none;
    background-color: var(--white-color);
    padding: 0;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    color: var(--white-color);
    padding: 25px 39px;
    border-radius: 16px;
    background: var(--orange-color);
    width: fit-content;
    height: fit-content;
    line-height: normal;
    cursor: pointer;
}


.title-section {
    font-weight: 400;
    font-size: 48px;
    color: var(--black-color);
    display: block;
    margin: 0;
}