:root {
     /* COLORS */
     --orange-color: #f90;
     --light-orange-color: #ffb84d;
     --dark-orange-color:  #e1670e;
     --green-color: #97ee3f;
     --white-color: #fff;
     --light-grey-color: #cacaca;
     --grey-color: #666;
     --dark-grey-color: #414141;
     --black-color: #000; 
     /* SETTINGS */
     --gap: 32px;
     /* FONTS */
     --font-family-base: 'Montserrat', sans-serif;
     --section-title-desktop: normal 400 48px/100% var(--font-family-base);
     --item-desc-desktop: normal 400 16px/32px var(--font-family-base);
     --item-title-desktop: normal 700 24px/32px var(--font-family-base);
     --btn-font-desktop: normal 700 23px/100% var(--font-family-base);
     --headfoot-desc-desktop: normal 600 18px/100% var(--font-family-base);
}