@import './normalize.css';

@import './root.css';

@import './header.css';

@import './hero.css';

@import './about-us.css';

@import './stages.css';

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat_regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/montserrat_regular.woff') format('woff'), ;
    /* Firefox >= 3.6, any other modern browser */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat_bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/montserrat_bold.woff') format('woff'), ;
    /* Firefox >= 3.6, any other modern browser */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat_extrabold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/montserrat_extrabold.woff') format('woff'), ;
    /* Firefox >= 3.6, any other modern browser */
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat_medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/montserrat_medium.woff') format('woff'), ;
    /* Firefox >= 3.6, any other modern browser */
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat_semibold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/montserrat_semibold.woff2') format('woff'), ;
    /* Firefox >= 3.6, any other modern browser */
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

main {
    padding: 0 60px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1800px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}